<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>754372408268-7lv3ajku5m55ad8djtlajojqf889fapc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.754372408268-7lv3ajku5m55ad8djtlajojqf889fapc</string>
	<key>API_KEY</key>
	<string>AIzaSyDeW71oEGiyJRRiPN01MoxjgM-VY4jdvVE</string>
	<key>GCM_SENDER_ID</key>
	<string>754372408268</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.MyBreakPoint</string>
	<key>PROJECT_ID</key>
	<string>mybreakpoint-924dc</string>
	<key>STORAGE_BUCKET</key>
	<string>mybreakpoint-924dc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:754372408268:ios:45381cf585d2ac1c</string>
	<key>DATABASE_URL</key>
	<string>https://mybreakpoint-924dc.firebaseio.com</string>
</dict>
</plist>